<div class="container">
	<h1>Battleship</h1>
	<h3>Player <%= @player %></h3>
	<div id="my_id" value="<%= @player%>"></div>
	<div class="col-md-12">
		<div class="row">
			<button id="create_game">Create Game</button>
			<button id="join_game">Join Game</button>
		</div>
	</div>
	<div class="row col-md-12">
		<p id="current_update_text"></p>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6">
				<h2>Your board</h2>
				<table id="my_board">
					<tr>
						<th></th>
						<th><p>A</p></th>
						<th><p>B</p></th>
						<th><p>C</p></th>
						<th><p>D</p></th>
						<th><p>E</p></th>
						<th><p>F</p></th>
						<th><p>G</p></th>
						<th><p>H</p></th>
						<th><p>I</p></th>
						<th><p>J</p></th>
					</tr>
					<% for i in 0..9 %>
						<tr>
							<th><%= (i+1) %></th>
							<% for j in 0..9 %>
								<td id=<%= "m-#{i}-#{j}" %> class="table_cell droppable_ship"></td>
							<% end %>
						</tr>
					<% end %>
				</table>
			</div>
			<div class="col-md-6">
				<h2>Enemy's board</h2>
				<table id="opponent_board">
				</table>
			</div>
		</div>
	</div>
	<div class="row col-md-12">
		<div class="ship">ein</div>
		<div class="ship">zwei</div>
		<div class="ship">drie</div>
		<div class="ship">vier</div>
		<div class="ship">fünf</div>
	</div>
</div>