// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-sea: #b4b4ff;
$color-sea-hover: #EDEDED;
$color-miss-shot: #003F87;
$color-hit: #FF030D;
$color-ship: #BDBDBD;
$color-ship-border: #000;


table{
	border-collapse: collapse;
	width: 440px;
	width: 440px;
	text-align: center;
	td, th{
		text-align: center;
	}
}

.table_cell {
	width: 40px;
	height: 40px;
	border: 1px solid $color-sea;
	padding: 0;
}

.miss_shot {
	width: 39px;
	height: 40px;
	padding: 0;
	background-color: $color-miss-shot;
}

.hit {
	width: 39px;
	height: 40px;
	padding: 0;
	background-color: $color-hit;
}


.table_hover {
	border-collapse: collapse;
	background-color: $color-sea-hover;
	float: left;
	width: 39px;
	height: 40px;
}

.ship_a {
	width: 79px;
	height: 40px;
	background-color: $color-ship;
	border: 1px solid $color-ship-border;
	padding: 0;
}

.ship_b {
	width: 119px;
	height: 40px;
	background-color: $color-ship;
	border: 1px solid $color-ship-border;
	padding: 0;
}

.ship_c {
	width: 159px;
	height: 40px;
	background-color: $color-ship;
	border: 1px solid $color-ship-border;
	padding: 0;
}

.ship_d {
	width: 199px;
	height: 40px;
	background-color: $color-ship;
	border: 1px solid $color-ship-border;
	padding: 0;
}

.ship_cell {
	width: 39px;
	height: 40px;
	background-color: $color-ship;
	border: 1px solid $color-ship-border;
	padding: 0;
}

.valid_click{
	cursor: pointer; 
	cursor: hand;
}

.ship_dock{
	padding-top: 10px;
}