// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-sea: #b4b4ff;
$color-sea-hover: #4c4cff;
$color-ship: rgba(0,0,0,0.5);
$color-ship-border: #000;
$color-miss-shot: #0EBFE9;
$color-hit: #FF030D;
$color-ship: #BDBDBD;


table{
	border-collapse: collapse;
	width: 440px;
	width: 440px;
	text-align: center;
	td, th{
		text-align: center;
	}
}

.table_cell {
	width: 40px;
	height: 40px;
	border: 1px solid $color-sea;
	padding: 0;
}

.table_cell {
	width: 40px;
	height: 40px;
	border: 1px solid $color-sea;
	padding: 0;
}

.miss_shot {
	width: 40px;
	height: 40px;
	border: 1px solid $color-miss-shot;
	padding: 0;
	background-color: $color-miss-shot;
}

.hit {
	width: 40px;
	height: 40px;
	border: 1px solid $color-hit;
	padding: 0;
	background-color: $color-hit;
}


.table_hover {
	border-collapse: collapse;
	background-color: $color-hit;
	float: left;
	width: 200px;
	height: 100px;
}

.ship {
	width: 40px;
	height: 40px;
	border: 1px solid $color-ship-border;
	background-color: $color-ship;
	padding: 0;
}

.valid_click{
	cursor: pointer; 
	cursor: hand;
}